* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}     
body{
    margin:0;
    padding:0;
}
nav{
    background-color:green;
    color:white;
    width:100%;
    min-height:5rem;
    display:flex;
    flex-direction: column;
}
.nav-upper-part{
    min-height:5rem;
    display:flex;
    justify-content: space-between;
    padding-right:3rem;
    padding-left:3rem;
    align-items: center;
}
@media(max-width:450px){
    .nav-upper-part{
        justify-content:center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items:center;
        padding-right:0rem;
        padding-left:0rem;
    }
}
.nav-title{
    font-size:2rem;
    display:flex;
    justify-content:center;
}
.nav-buttons{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:1rem;
}
    .login-button{
    width:5em;
    height:2em;
}
.signup-button{
    width:5em;
    height:2em;
}
.burger-icon{
    align-self: flex-start;  /* move to left */
margin-left: 1rem;
height: 5rem;            /* match nav bar height */
display: flex;
align-items: center;     /* center icon vertically */
}
@media(min-width:450px){
    .burger-icon{
        display:none;
    }
}
.nav-lower-part{
    background-color: aqua;
    display:flex;
    justify-content:center;
}
.nav-items-contaienr{
    display: flex;
    flex-wrap: wrap;
    padding-right:2.5rem;
    padding-left:2.5rem;
    width:100%;
    
} 
.nav-item{
    padding:0.5rem;
    height:2rem;
}
.nav-item:hover{
    background-color: black;
}